{% extends 'thebase_base_template.html' %}
{% load thebasefilters %}
{% load humanize %}
{% block title %}
  BASE UPLOAD
{% endblock %}

{% block thebase_content_style %}
  <style>
    form {
      width: 450px;
    }
  </style>
{% endblock %}

{% block thebase_content %}
<form class="form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="action" value="upload">
  {{ form.non_field_errors }}
  <div class="form-group">
    <label>{{ form.item_csv.label }}:</label>
    {{ form.item_csv }}
    {{ form.errors.item_csv }}
  </div>
  <button type="submit" class="btn btn-primary my-1">アップロード</button>
</form>
{% if errors %}
  <table class="table">
    <caption>エラー</caption>
    <thead>
      <th>
        行
      </th>
      <th>
        タイミング
      </th>
      
      <th>
        内容
      </th>
    </thead>
    <tbody>
      {% for er in errors %}
      <tr>
        <td>
          {{ er.line_number }}
        </td>
        <td>
          {{ er.timing }}
        </td>
        <td>
          {{ er.error_message }}
        </td>
      </tr>
      {% endfor  %}
    </tbody>
  </table>
{% endif %}
{% endblock %}

