{% extends 'thebase_base_template.html' %}
{% load thebasefilters %}

{% load humanize %}
{% block title %}
  BASE Dashboard
{% endblock %}

{% block thebase_content_style %}
  <style>
    a.btn.btn-primary {
      color: white
    }
    form {
      width : 300px;
    }
  </style>
{% endblock %}

{% block thebase_content %}
  
  {% if user.thebase_auth %}
    <div class="table-responsive">
    <table class="table">
      <tr>
        <th>client_id</th>
        <td>{{ user.thebase_auth.client_id }}</td>
      </tr>
      <tr>
        <th>client_secret_id</th>
        <td>{{ user.thebase_auth.client_secret_id }}</td>
      </tr>
      <tr>
        <th>authorization_code</th>
        <td>
          {% if user.thebase_auth.authorization_code %}
            {{ user.thebase_auth.authorization_code }}
            <a href="{% url 'thebase:authorize' %}" class="btn btn-primary">再認可</a>
          {% else %}
            まだ認可されていません<a href="{% url 'thebase:authorize' %}" class="btn btn-primary">認可</a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>access_token</th>
        <td>
          {% if user.thebase_auth.access_token %}
            {{ user.thebase_auth.access_token }}
            {% if user.thebase_auth.access_token_expires_in|valid %}
            <span class="badge badge-success">有効</span>
            {% else %}
             <span class="badge badge-danger">期限切れ</span>
            {% endif %}
            <a class="btn btn-primary" href='{% url 'thebase:authorize' %}?refresh=true'>リフレッシュ</a>
          {% else %}
            --
          {% endif %}
          
        </td>
      </tr>
      <tr>
        <th>refresh_token</th>
        <td>
          {% if user.thebase_auth.refresh_token %}
            {{ user.thebase_auth.refresh_token }}
          {% else %}
            --
          {% endif %}  
        </td>
      </tr>
    </table>
  </div>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="operation" value="delete">
    <button id="id_delete_oauth" type="submit" class="btn btn-warning">認証情報を削除する</button>
  </form>
  {% else %}
    <form class="form" method="post">
      {% csrf_token %}
      <input type="hidden" name="operation" value="add">
      {{ form.non_field_errors }}
      <div class="form-group">
        <label>{{ form.client_id.label }}:</label>
        {{ form.client_id }}
        {{ form.errors.client_id }}
      </div>
     
      <div class="form-group">
        <label>{{ form.client_secret_id.label }}:</label>
        {{ form.client_secret_id }}
        {{ form.errors.client_secret_id }}
      </div>
      
      <div class="form-group">
        <label>{{ form.redirect_uri.label }}:</label>
        {{ form.redirect_uri }}
        {{ form.errors.redirect_uri }}
      </div>
      <button type="submit" class="btn btn-primary">登録</button>
    </form>
  {% endif %}
{% endblock %}

{% block thebase_script %}
<script>
  $(function () {
    var $delete_oauth = $('#id_delete_oauth');
    $delete_oauth.on('click', function() {
      return window.confirm('本当に削除しますか？');
    });
  });
</script>
{% endblock %}


