{% extends 'thebase_base_template.html' %}
{% load thebasefilters %}
{% load humanize %}
{% block title %}
  BASE ITEMS
{% endblock %}

{% block thebase_content_style %}
  <style>
    div.table-responsive {
      width: 100%;
      height: 70vh;
    }
    table td {
      white-space: nowrap;
      
    }
    img.thumbnail {
      width: 100px;
    }
  </style>
{% endblock %}

{% block thebase_content %}
<form class="form-inline">
  <input type="hidden" name="action" value="search">
    <div class="form-group">
    <label for="id-itemname">q(スペース区切り):</label>
    <div class="ml-2 mr-2">
      <input type="text" name="q" class="form-control" id="id-q" value="{{ q | default_if_none:'' }}">
    </div>
  </div>
    <button type="submit" class="btn btn-primary">検索</button>
</form>

  {% if not object_list %}
    該当する商品が見つかりませんでした
  {% else %}

  <form class="form-inline" method="get" action="{% url 'thebase:delete' %}">
    <div class="form-group my-2">
      <label for="id_operation">操作</label>
      <select name="operation" id="id_operation" class="form-control">
        <option value="delete">削除</option>
      </select>
      <button type="submit" class="btn btn-warning">実行</button>
    </div>
    <div class="table-responsive">
      <table id="id_item_table" class="table table-bordered table-striped mt-2">
        <thead>
          <th>
            <input type="checkbox" id="id_check_all" class="">
          </th>
          <th>
            商品画像
          </th>
          <th>
            商品ID
          </th>
          <th>
            商品名
          </th>
          <th>
            商品説明
          </th>
          <th>
            価格
          </th>
          <th>
            表示
          </th>
          <th>
            バリエーション
          </th>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>
                <input type="checkbox" class="form-control select-checkbox" name="selected_items[]" value="{{ object.item_id }}">
              </td>
              <td>
                <img class="img-thumbnail" src="{{ object.images.0 }}" alt="商品画像"><br>
                {% include 'thebase_searchitems_images_modal.html' with images=object.images %}
                <button class="image-modal-open btn btn-sm btn-primary">全て表示</button>
                
              </td>
              <td>
                {{ object.item_id }}
              </td>
              <td>
                {{ object.title }}
              </td>
              <td>
                {% include 'thebase_searchitems_detail_modal.html' with object=object %}
                <button class="modal-open btn btn-primary" type="button">表示</button>
              </td>
              <td>
                {{ object.price|intcomma }}
              </td>
              <td>
                {{ object.visible_readable }}
              </td>
             
              <td>
                <table class="table table-sm">
                  <thead>
                    <th>id</th>
                    <th>variation</th>
                    <th>stock</th>
                    <th>identifier</th>
                  </thead>
                  <tbody>
                    {% for var in object.variations.all %}
                    <tr>
                      <td>
                        {{ var.variation_id}}
                      </td>
                      <td>
                        {{ var.variation }}
                      </td>
                      <td>
                        {{ var.variation_stock }}
                      </td>
                      <td>
                        {{ var.variation_identifier }}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
              
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
  {% endif %}
  {% include 'pagination.html' %}
{% endblock %}
{% block thebase_script %}
<script>
  $(function () {
    var $checkbox = $('.select-checkbox');
    var $check_all = $('#id_check_all');
    $check_all.on('change', function() {
      $checkbox.prop('checked', $(this).prop('checked'));
    });
  });
</script>
{% endblock %}
