{% extends 'thebase_base_template.html' %}
{% load thebasefilters %}
{% load humanize %}
{% block title %}
  BASE DELETE
{% endblock %}

{% block thebase_content_style %}
  <style>

  </style>
{% endblock %}


{% block thebase_content %}
本当に削除しますか?
<form class="form" method="post">
  {% csrf_token %}
  <ul class="list-group">
  {% for item in items_to_delete %}
    <li class="list-group-item">
      <img src="{{ item.img1_origin }}" alt="商品画像" class="img-thumbnail">
      <span class="ml-2">{{ item.title }}</span>
    </li>
    <input type="hidden" name="items_to_delete[]" value="{{ item.item_id }}">
  {% endfor %}
  </ul>
  <button type="submit" class="btn btn-warning mt-2">削除</button>
</form>
{% endblock %}


