<style>
  #sidebar {
    width:100%;
    min-height: 95vh;
    height: 100%;
  }
  
  #sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
  }

  #sidebar .sidebar-header {
      padding: 20px;
      background: #6d7fcc;
  }

  #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
  }
  #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
      color: white;
      text-decoration: none;
  }
  #sidebar ul li a:hover {
      color: #7386D5;
      background: #fff;
  }
  #sidebar ul li.active > a, a[aria-expanded="true"] {
      color: #fff;
      background: #6d7fcc;
  }
</style>
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>BASE</h3>
  </div>
  <ul class="list-unstyled components">
    <li class="{% if pagename == 'dashboard' %}active{% endif %}">
      <a href="{% url 'thebase:dashboard' %}">Top</a>
    </li>
    <li class="{% if pagename == 'search' %}active{% endif %}">
      <a href="{% url 'thebase:search' %}">商品検索</a>
    </li>
    <li class="{% if pagename == 'upload' %}active{% endif %}">
      <a href="{% url 'thebase:upload' %}">一括登録</a>
    </li>
  </ul>
</nav>
