{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
 
  <title>{% block title %}{% endblock %}</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

    body {
        font-family: 'Noto Sans JP', sans-serif;
    }
    .wrapper {
      display: flex;
      width: 100%;
      align-items: stretch;
      height: 95vh;
      background-color: #f0f0da;
    }
    th{
      padding: 5px!important;
      white-space: nowrap;
      
    }
    li.list-group-item img {
      width: 50px;
      height: auto;
    }
    

  </style>
  {% block style %}{% endblock %}
</head>
<body>
  {% include 'navbar.html' %}
  <div class="wrapper">
    {% block content %}{% endblock %}
    {% include "footer.html" %}
  </div>
  {% block script %}{% endblock %}
</body>
</html>