{% extends 'wowma_base_template.html' %}
{% load wowmafilters %}
{% load humanize %}
{% block title %}
  Wowma Search
{% endblock %}

{% block wowma_content_style %}
  <style>
        
    div.table-responsive {
      width: 100%;
      height: 70vh;
    }
    .container {
      margin-left: 0;
      margin-right:0;
      max-width: 100%!important;
    }
    th, td {
      white-space: nowrap;
    }
    img.item-thumbnail {
      width: 100px;
      height: auto;
    }
    table#id_item_table thead th { position: sticky; top: 0; }
  </style>
{% endblock %}

{% block wowma_content %}
  <form class="form-inline">
    <input type="hidden" name="action" value="search">
     <div class="form-group">
      <label for="id-itemname">itemName(部分一致):</label>
      <div class="ml-2 mr-2">
       <input type="text" name="itemname" class="form-control" id="id-itemname" value="{{ searchparams.itemname }}">
     </div>
    </div>
      <button type="submit" class="btn btn-primary">検索</button>
  </form>
  {% if search_result.error %}
  {{ search_result.error.code }} {{ search_result.error.message }}
  {% elif search_result.items != None %}
  
  {% if search_result.max_count %}
  {{ search_result.max_count }}件ヒットしました
  <form class="form-inline" method="get" action="{% url 'wowma:delete' %}">
    <div class="form-group my-2">
      <label for="id_operation">操作</label>
      <select name="operation" id="id_operation" class="form-control">
        <option value="delete">削除</option>
        <option value="offsale">出品停止</option>
        <option value="onsale">出品</option>
      </select>
      <button type="submit" class="btn btn-warning">実行</button>
    </div>
    <div class="table-responsive">
      <table id="id_item_table" class="table table-bordered table-striped">
        <thead class="thead-dark">
          <th>
            <input type="checkbox" id="id_check_all" class="">
          </th>
          <th>
            sale status
          </th>
          <th>
            Lot number
          </th>
          <th>
            Image
          </th>
          <th>
            Item name
          </th>
          <th>
            Item management id
          </th>
          <th>
            Item management name
          </th>
          <th>
            Item code
          </th>
          <th>
            Item price
          </th>
          <th>
            Sell method segment
          </th>
          <th>
            Description
          </th>
          <th>
            Choices
          </th>
          
        </thead>
        <tbody>
          {% for object in search_result.items %}
            <tr>
              <td>
                <input type="checkbox" class="form-control select-checkbox" name="selected_items[]" value="{{ object.lot_number }}">
              </td>
              <td>
                {% if object.sale_status == '1' %}
                  <span class="badge badge-success">{{ object.sale_status | display_sale_status }}</span>
                {% else %}
                  <span class="badge badge-dark">{{ object.sale_status | display_sale_status }}</span>
                {% endif %}
                </td>
              <td>
                {{ object.lot_number }}
              </td>
              <td>
                <img class="item-thumbnail" src="{{ object.images.0.image_url }}">
                {% include 'wowma_searchitems_images_modal.html' with images=object.images %}
                  <button class="image-modal-open btn btn-primary">全て表示</button>
              </td>
              <td>
                {{ object.item_name |left:10 }}
              </td>
              <td>
                {{ object.item_management_id | default_if_none:'-' }}
              </td>
              <td>
                {{ object.item_management_name | default_if_none:'-' }}
              </td>
              <td>
                {{ object.item_code }}
              </td>
              <td>
                ¥{{ object.item_price | intcomma }}
              </td>
              <td>
                {{ object.sell_method_segment | display_sell_method }}
              </td>
              <td>
                {% include 'wowma_searchitems_detail_modal.html' with object=object %}
                <button class="btn btn-primary modal-open">表示</button>
              </td>
              <td>
                {% for register_stock in object.register_stocks %}
                <table class="table table-sm">
                  <thead>
                    <th></th>
                    {% for horizontal_choice in register_stock.choices_stock_horizontals %}
                    <th>
                      {{ horizontal_choice.choices_stock_horizontal_name }}
                    </th>
                    {% endfor %}
                  </thead>
                  <tbody>
                    {% for vertical_choice in register_stock.choices_stock_verticals %}
                    <tr>
                      <th>
                        {{ vertical_choice.choices_stock_vertical_name }}
                      </th>
                      {% for horizontal_choice in register_stock.choices_stock_horizontals %}
                      <td>
                        {% with vertical_choice.choices_stock_vertical_code|add:'^'|add:horizontal_choice.choices_stock_horizontal_code as stock_key %}
                        {{ register_stock|stock_by_choice:stock_key }}
                        {% endwith %}
                      </td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
  {% include 'wowma_searchitems_pagination.html' %}
  {% else %}
  該当する商品が見つかりませんでした
  {% endif %}
  {% else %}
    <!-- not yet searched -->
    検索してください
  {% endif %}
{% endblock %}
{% block wowma_script %}
<script>
  $(function () {
    var $checkbox = $('.select-checkbox');
    var $check_all = $('#id_check_all');
    $check_all.on('change', function() {
      $checkbox.prop('checked', $(this).prop('checked'));
    });
  });
</script>
{% endblock %}

