{% extends 'wowma_base_template.html' %}
{% load wowmafilters %}
{% load humanize %}
{% block title %}
  WOWMA UPLOAD
{% endblock %}

{% block wowma_content_style %}
  <style>
    .form {
      width: 600px;;
    }
  </style>
{% endblock %}

{% block wowma_content %}
<form class="form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="action" value="upload">
  <div class="form-group">
    <label for="id-item-csv">item.csv</label>
    <input type="file" name="item_csv" class="form-control" id="id-item-csv">
  </div>
  <div class="form-group">
    <label for="id-stock-csv">stock.csv</label>
    <input type="file" name="stock_csv" class="form-control" id="id-stock-csv">
  </div>
  <button type="submit" class="btn btn-success">アップロード</button>
</form>
{% if errors %}
  <table class="table">
    <caption>エラー</caption>
    <thead>
      <th>
        行
      </th>
      <th>
        内容
      </th>
    </thead>
    <tbody>
      {% for er in errors %}
      <tr>
        <td>
          {{ er.line_number }}
        </td>
        <td>
          {{ er.error }}
        </td>
      </tr>
      {% endfor  %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
{% block wowma_script %}
<script>
  $(function () {
    var $form = $('.form');
    $form.on('submit', function() {
      var $item_csv_file = $(this).find('#id-item-csv');
      var $stock_csv_file = $(this).find('#id-stock-csv');
      if ($item_csv_file.prop('files').length == 0) {
        alert('item.csvを選択してください')
        $item_csv_file.focus();
        return false
      }
      if ($stock_csv_file.prop('files').length == 0) {
        alert('stock.csvを選択してください')
        $stock_csv_file.focus();
        return false
      }
      return true;
    });
  });
</script>
{% endblock %}

