{% extends 'wowma_base_template.html' %}
{% load wowmafilters %}

{% load humanize %}
{% block title %}
  Wowma Dashboard
{% endblock %}

{% block wowma_content_style %}
  <style>
    a.btn.btn-primary {
      color: white
    }
    form {
      width : 300px;
    }
  </style>
{% endblock %}

{% block wowma_content %}
  
  {% if user.wowma_auth %}
    <div class="table-responsive">
    <table class="table">
      <tr>
        <th>application_key</th>
        <td>{{ user.wowma_auth.application_key }}</td>
      </tr>
      <tr>
        <th>store_id</th>
        <td>{{ user.wowma_auth.store_id }}</td>
      </tr>
    </table>
  </div>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="operation" value="delete">
    <button id="id_delete_authinfo" type="submit" class="btn btn-warning">認証情報を削除する</button>
  </form>
  {% else %}
    <form class="form" method="post">
      {% csrf_token %}
      <input type="hidden" name="operation" value="add">
      {{ form.non_field_errors }}
      <div class="form-group">
        <label>{{ form.application_key.label }}:</label>
        {{ form.application_key }}
        {{ form.errors.application_key }}
      </div>
     
      <div class="form-group">
        <label>{{ form.store_id.label }}:</label>
        {{ form.store_id }}
        {{ form.errors.store_id }}
      </div>
      <button type="submit" class="btn btn-primary">登録</button>
    </form>
  {% endif %}
{% endblock %}

{% block wowma_script %}
<script>
  $(function () {
    var $delete_oauth = $('#id_delete_authinfo');
    $delete_oauth.on('click', function() {
      return window.confirm('本当に削除しますか？');
    });
  });
</script>
{% endblock %}


