{% extends 'wowma_base_template.html' %}
{% load wowmafilters %}
{% load humanize %}
{% block title %}
  Wowma Search
{% endblock %}

{% block wowma_content_style %}
  <style>
        
    div.table-responsive {
      width: 100%;
      height: 70vh;
    }
    .container {
      margin-left: 0;
      margin-right:0;
      max-width: 100%!important;
    }
    th, td {
      white-space: nowrap;
    }
    img.item-thumbnail {
      width: 100px;
      height: auto;
    }
  </style>
{% endblock %}

{% block wowma_content %}
  <form class="form-inline">
    <input type="hidden" name="action" value="search">
     <div class="form-group">
      <label for="id-itemname">itemName(部分一致):</label>
      <div class="ml-2 mr-2">
       <input type="text" name="q" class="form-control" id="id-itemname" value="{{ request.session.q }}">
     </div>
    </div>
      <button type="submit" class="btn btn-primary">検索</button>
  </form>

  {% if object_list %}
  <form class="form-inline" method="get" action="{% url 'wowma:delete' %}">
    <div class="form-group my-2">
      <label for="id_operation">操作</label>
      <select name="operation" id="id_operation" class="form-control">
        <option value="delete">削除</option>
        <option value="offsale">出品停止</option>
        <option value="onsale">出品</option>
      </select>
      <button type="submit" class="btn btn-warning">実行</button>
    </div>
    <div class="table-responsive">
      <table id="id_item_table" class="table table-bordered table-striped">
        <thead>
          <th>
            <input type="checkbox" id="id_check_all" class="">
          </th>
          <th>
            販売ステータス
          </th>
          <th>
            ロット番号
          </th>
          <th>
            画像
          </th>
          <th>
            カテゴリ
          </th>
          <th>
            商品名
          </th>
          <th>
            商品管理ID
          </th>
          <th>
            商品管理名
          </th>
          <th>
            商品コード
          </th>
          <th>
            価格
          </th>
          <th>
            販売区分
          </th>
          <th>
            商品説明
          </th>
          <th>
            在庫
          </th>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>
                <input type="checkbox" class="form-control select-checkbox" name="selected_items[]" value="{{ object.lotNumber }}">
              </td>
              <td>
                {% if object.saleStatus == '1' %}
                  <span class="badge badge-success">{{ object.saleStatus | display_sale_status }}</span>
                {% else %}
                  <span class="badge badge-dark">{{ object.saleStatus | display_sale_status }}</span>
                {% endif %}
                </td>
              <td>
                {{ object.lotNumber }}
              </td>
              <td>
                <img class="item-thumbnail" src="{{ object.images.all.0.imageUrl }}">
                {% include 'wowma_searchitems_images_modal.html' with images=object.images.all %}
                  <button class="image-modal-open btn btn-block btn-sm btn-primary">全て表示</button>
              </td>
              <td>
                {{ object.category_name }}
              </td>
              <td>
                {{ object.itemName  }}
              </td>
              <td>
                {{ object.itemManagementId | default_if_none:'-' }}
              </td>
              <td>
                {{ object.itemManagementName | default_if_none:'-' }}
              </td>
              <td>
                {{ object.itemCode }}
              </td>
              <td>
                ¥{{ object.itemPrice | intcomma }}
              </td>
              <td>
                {{ object.sellMethodSegment | display_sell_method }}
              </td>
              <td>
                {% include 'wowma_searchitems_detail_modal.html' with object=object %}
                <button class="btn btn-sm btn-primary modal-open">表示</button>
              </td>
              <td>
                {% if object.registerstock.verticals.all %}
                <table class="table table-sm">
                  <thead>
                    <th></th>
                    {% if object.registerstock.horizontals.all %}
                      {% for horizontal_choice in object.registerstock.horizontals.all %}
                      <th>
                        {{ horizontal_choice.choicesStockHorizontalName }}
                      </th>
                      {% endfor %}
                    {% else %}
                      <th>
                        在庫
                      </th>
                    {% endif %}
                  </thead>
                  <tbody>
                    {% for vertical_choice in object.registerstock.verticals.all %}
                    <tr>
                      <th>
                        {{ vertical_choice.choicesStockVerticalName }}
                      </th>
                      {% if object.registerstock.horizontals.all %}
                        {% for horizontal_choice in object.registerstock.horizontals.all %}
                        <td>
                          {% with vertical_choice.choicesStockVerticalCode|add:'^'|add:horizontal_choice.choicesStockHorizontalCode as stock_key %}
                          {{ object.registerstock|stock_by_choice:stock_key }}
                          {% endwith %}
                        </td>
                        {% endfor %}
                      {% else %}
                        <td>
                          {% with vertical_choice.choicesStockVerticalCode|add:'^' as stock_key %}
                          {{ object.registerstock|stock_by_choice:stock_key }}
                          {% endwith %}
                        </td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                  {{ object.registerstock.stockCount }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
  {% include 'pagination.html' %}
  {% else %}
  該当する商品が見つかりませんでした
  {% endif %}
{% endblock %}
{% block wowma_script %}
<script>
  $(function () {
    var $checkbox = $('.select-checkbox');
    var $check_all = $('#id_check_all');
    $check_all.on('change', function() {
      $checkbox.prop('checked', $(this).prop('checked'));
    });
  });
</script>
{% endblock %}

