{% extends 'wowma_base_template.html' %}
{% load wowmafilters %}
{% load humanize %}
{% block title %}
  WOWMA DELETE
{% endblock %}

{% block wowma_content_style %}
  <style>

  </style>
{% endblock %}


{% block wowma_content %}
本当に{{ operation }}しますか?
<form class="form" method="post">
  {% csrf_token %}
  <input type="hidden" name="operation" value="{{ operation }}">
  <ul class="list-group">
  {% for item in selected_items %}
    <li class="list-group-item">lot number: {{ item }}</li>
    <input type="hidden" name="selected_items[]" value="{{ item }}">
  {% endfor %}
  </ul>
  <button type="submit" class="btn btn-warning mt-2">{{ operation }}</button>
</form>
{% endblock %}


