{% load humanize %}
{% load wowmafilters %}
<div class="modal" id="modal01">
  <!-- モーダルウィンドウが開いている時のオーバーレイ -->
  <div class="overLay modalClose"></div>
    <!-- モーダルウィンドウの中身 -->
  <div class="modal-content">
    <h3 class="modal-h">Images</h3>
    <div class="modal-text container">
      <div class="row">
        
        {% for image in images %}
        <div class="col-2">
          <figure class="figure">
            <img src="{{ image.image_url }}" class="thumbnail">
            <figcaption class="figure-caption">{{ image.imange_seq}}</figcaption>
          </figure>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="modal-f">
      <a href="" class="modalClose btn btn-primary mb-2">Close</a>
    </div>
  </div>
</div>
<style>
.modal {
  position:absolute;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  display:none;
  text-align: center;
}
 
/* オーバーレイのスタイル */
.overLay {
  position:absolute;
  top:0;
  left:0;
  background:rgba(200,200,200,0.9);
  opacity: 0.2;
  width:100%;
  height:100vh;
  z-index:0;
  text-align: center;
}
.modal-content {
  
  margin:3rem auto;
  width: 70%;
  height: 85%;
  background-color: white;
  overflow: auto;
}

.modal-content .modal-text {
  padding:20px;
  text-align: left;
}
/* モーダルウィンドウの中身のスタイル */
.thumbnail {
  width: 100%;
  height : auto 
}
</style>
<script>
$(function(){
 // モーダルウィンドウが開くときの処理    
 $(".image-modal-open").click(function() {
  $(this).parent().find('.modal').fadeIn();
  return false;
 });
  
 // モーダルウィンドウが閉じるときの処理    
 $(".modalClose").click(function(){
    $(this).parents(".modal").fadeOut();
    $(".modalOpen").removeClass("open");
    return false;
 });  
     
 });
</script>