{% extends 'wowma_base_template.html' %}
{% load wowmafilters %}
{% load humanize %}
{% block title %}
  BASE Category
{% endblock %}

{% block wowma_content_style %}
  <style>
    div.table-responsive {
      width: 100%;
      height: 70vh;
    }
    table td {
      white-space: nowrap;
      
    }
    img.thumbnail {
      width: 100px;
    }
  </style>
{% endblock %}

{% block wowma_content %}
    <div class="table-responsive">
      <table id="" class="table table-bordered table-striped mt-2">
        <thead>
          <th>
            カテゴリID
          </th>
          <th>
            フルパス
          </th>
         
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>
                {{ object.ctgryId }}
              </td>
              <td>
                {{ object.ctgryNameFullpath }}
              </td>
            
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  
{% endblock %}
{% block wowma_script %}
<script>
  $(function () {
    var $checkbox = $('.select-checkbox');
    var $check_all = $('#id_check_all');
    $check_all.on('change', function() {
      $checkbox.prop('checked', $(this).prop('checked'));
    });
  });
</script>
{% endblock %}
